/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); }
  header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px; }

#logo {
  display: flex;
  align-items: center;
  color: black;
  text-decoration: none;
  font-size: 20px; }
  #logo:visited, #logo:hover, #logo:focus {
    color: black; }
  #logo img {
    margin-right: 15px;
    max-width: 50px; }

#skipContentWrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000; }

#skipContentLink {
  display: block;
  width: 1px;
  height: 1px;
  overflow: hidden; }
  #skipContentLink:hover, #skipContentLink:visited {
    display: block;
    width: 1px;
    height: 1px;
    overflow: hidden; }
  #skipContentLink:active, #skipContentLink:focus {
    position: relative;
    width: auto;
    height: auto;
    font-size: 15px;
    z-index: 10000;
    text-decoration: underline;
    padding: 20px;
    background: blue;
    color: #FFF; }

footer {
  background-color: #f2f2f2;
  padding: 50px 0; }
  footer .container {
    padding-top: 0;
    padding-bottom: 0; }
  footer ul {
    list-style: none;
    padding: 0; }
    footer ul li {
      padding: 5px 0; }
    footer ul a {
      color: #4F4F4F; }

.footer-top {
  display: flex;
  flex-direction: column; }
  @media (min-width: 768px) {
    .footer-top {
      flex-direction: row;
      justify-content: space-between; } }

.footer-bottom #footerBottomNav {
  display: flex;
  flex-direction: row; }
  .footer-bottom #footerBottomNav li:not(:last-child) {
    margin-right: 15px; }

.footer-links h3 {
  color: #43b9c6;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 25px; }

.slide {
  margin: .75rem;
  border: 1px solid #f2f2f2;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(196, 167, 119, 0.701961); }
  .slide p {
    color: black;
    line-height: 30px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400; }
    .slide p.name {
      margin-top: auto;
      margin-bottom: 0;
      line-height: 19px;
      font-size: 16px;
      font-weight: 400;
      margin-left: auto;
      margin-right: auto; }
      .slide p.name span:before {
        content: '|';
        margin-left: 5px;
        margin-right: 5px; }
  .slide .slide-top {
    position: relative;
    display: flex;
    flex: 1 1 auto;
    padding: 15px 15px 50px 90px;
    border-radius: 15px 15px 0 0; }
    .slide .slide-top img {
      position: absolute;
      top: 15px;
      left: 15px; }
    .slide .slide-top p {
      color: black; }
    .slide .slide-top.blue {
      background-color: #12cdd4; }
    .slide .slide-top.pink {
      background-color: #ff6eb0; }
    .slide .slide-top.green {
      background-color: #1bdbb9; }
    .slide .slide-top.yellow {
      background-color: #ffed1a; }
    .slide .slide-top.purple {
      background-color: #b5a3cf; }
  .slide .slide-bottom {
    position: relative;
    display: flex;
    flex: 0 1 auto;
    padding: 50px 15px 20px; }
    .slide .slide-bottom img {
      position: absolute;
      top: -65px;
      left: 0;
      right: 0;
      margin: auto;
      height: 100px;
      width: 100px;
      border-radius: 50%;
      border: 5px solid #fffaf2; }

.slick-track {
  display: flex !important; }

.slick-slide {
  display: flex !important;
  flex-direction: column;
  height: inherit !important; }

.slick-list {
  overflow: visible !important; }

.slick-prev {
  right: 4% !important;
  left: auto !important;
  top: -30px !important; }

.slick-next {
  right: 1% !important;
  top: -30px !important; }

@media (max-width: 992px) {
  .slick-next, .slick-prev {
    display: none !important; } }

.slick-next:before, .slick-prev:before {
  color: black;
  font-size: 2rem; }

body {
  font-family: 'Montserrat',sans-serif;
  background-color: #fffaf2;
  color: #555; }

h1, h2 {
  font-family: 'Montserrat',sans-serif;
  font-weight: 800;
  color: black; }

h1 {
  font-size: 3.5rem;
  line-height: 68px; }

h2 {
  text-align: center;
  font-size: 2.25rem;
  line-height: 40px; }

a {
  color: #43b9c6;
  text-decoration: none;
  background-color: transparent; }

p {
  font-size: 1.25rem;
  line-height: 30px;
  margin-top: 0;
  margin-bottom: 1rem; }

main {
  margin-top: 80px;
  overflow: hidden; }

.container {
  padding-top: 40px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 40px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1218px; }
