.slide {
    margin: .75rem;
    border: 1px solid #f2f2f2;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(196,167,119,.701961);
    p {
        color: black;
        line-height: 30px;
        font-size: 20px;
        font-family: sans-serif;
        font-weight: 400;

        &.name {
            margin-top: auto;
            margin-bottom: 0;
            line-height: 19px;
            font-size: 16px;
            font-weight: 400;
            margin-left: auto;
            margin-right: auto;

            span {
                &:before {
                    content: '|';
                    margin-left: 5px;
                    margin-right: 5px;
                }
            }
        }
    }
    .slide-top {
        position: relative;
        display: flex;
        flex: 1 1 auto;
        padding: 15px 15px 50px 90px;
        border-radius: 15px 15px 0 0;
        img {
            position: absolute;
            top: 15px;
            left: 15px;
        }
        p {
            color: black;
        }
        &.blue {
            background-color: #12cdd4;
        }
        &.pink {
            background-color: #ff6eb0;
        }
        &.green {
            background-color: #1bdbb9;
        }
        &.yellow {
            background-color: #ffed1a;
        }
        &.purple {
            background-color: #b5a3cf;
        }
    }
    .slide-bottom {
        position: relative;
        display: flex;
        flex: 0 1 auto;
        padding: 50px 15px 20px;


        img {
            position: absolute;
            top: -65px;
            left: 0;
            right: 0;
            margin: auto;
            height: 100px;
            width: 100px;
            border-radius: 50%;
            border: 5px solid #fffaf2;
        }
    }
}

.slick-track {
    display: flex !important;
}

.slick-slide {
    display: flex !important;
    flex-direction: column;
    height: inherit !important;
}

.slick-list {
    overflow: visible !important;
}

.slick-prev {
    right: 4%!important;
    left: auto!important;
    top: -30px!important;
}

.slick-next {
    right: 1%!important;
    top: -30px!important;
}

.slick-next, .slick-prev {
    @media (max-width: 992px) {
        display: none !important;
    }
    &:before {
        color: black;
        font-size: 2rem;
    }
}