footer {
    background-color: #f2f2f2;
    padding: 50px 0;

    .container {
        padding-top: 0;
        padding-bottom: 0;
    }

    ul {
        list-style: none;
        padding: 0;
        li {
            padding: 5px 0;
        }
        a {
            color: #4F4F4F;
        }
    }
}

.footer-top {
    display: flex;
    flex-direction: column;
    @media (min-width: 768px) {
        flex-direction: row;
        justify-content: space-between;
    }
}

.footer-bottom {
    #footerBottomNav {
        display: flex;
        flex-direction: row;
        li:not(:last-child) {
            margin-right: 15px;
        }
    }
}

.footer-links {
    h3 {
        color: #43b9c6;
        font-family: 'Open Sans', sans-serif;
        font-size: 1.125rem;
        font-weight: 700;
        line-height: 25px;
    }
}