header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

#logo {
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;
    font-size: 20px;
    &:visited, &:hover, &:focus {
        color: black;
    }

    img {
        margin-right: 15px;
        max-width: 50px;
    }
}

#skipContentWrapper {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10000;
}

#skipContentLink {
	display: block;
	width: 1px;
	height: 1px;
	overflow: hidden;

    &:hover, &:visited {
		display: block;
		width: 1px;
		height: 1px;
		overflow: hidden;
	}

    &:active, &:focus {
		position: relative;
		width: auto;
		height: auto;
		font-size: 15px;
		z-index: 10000;
		text-decoration: underline;
		padding: 20px;
		background: blue;
		color: #FFF;
	}
}