@import 'normalize.css/normalize';
@import 'header';
@import 'footer';
@import 'carousel';

body {
    font-family: 'Montserrat',sans-serif;
    background-color: #fffaf2;
    color: #555;
}

h1, h2 {
    font-family: 'Montserrat',sans-serif;
    font-weight: 800;
    color: black;
}

h1 {
    font-size: 3.5rem;
    line-height: 68px;
}

h2 {
    text-align: center;
    font-size: 2.25rem;
    line-height: 40px;
}

a {
    color: #43b9c6;
    text-decoration: none;
    background-color: transparent;
}

p {
    font-size: 1.25rem;
    line-height: 30px;
    margin-top: 0;
    margin-bottom: 1rem;
}

main {
    margin-top: 80px;
    overflow: hidden;
}

.container {
    padding-top: 40px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 40px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1218px;
}